<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:swinog/breadcrumbs {"align":"wide"} /-->

<!-- wp:group {"tagName":"main","className":"swinog-page","layout":{"type":"default"}} -->
<main class="wp-block-group swinog-page">

	<!-- wp:pattern {"slug":"swinog/news-single-hero"} /-->

	<!-- wp:group {"className":"swinog-news-body-wrap swinog-news-body","align":"full","layout":{"type":"constrained","contentSize":"780px","wideSize":"1280px"}} -->
	<div class="wp-block-group alignfull swinog-news-body-wrap swinog-news-body">
		<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"780px","wideSize":"1080px"}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"swinog/news-related"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
